<%- include('partials/header') -%>

<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" name="postTitle">
        <br>
        <label>Post</label>
        <textarea class="form-control" name="postBody" style="height:150px;"></textarea>
    </div>
        <button class="btn btn-primary" type="submit" name="post">Publish</button>
</form>

<%- include('partials/footer') -%>